<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GUI_VerificarMudancasNoQ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <GUI_VerificarMudancasNoQ.Properties.Settings>
            <setting name="Pagina" serializeAs="String">
                <value>http://qacademico.ifsul.edu.br//qacademico/index.asp?t=2071</value>
            </setting>
            <setting name="Intervalo" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="Navegador" serializeAs="String">
                <value>chrome</value>
            </setting>
        </GUI_VerificarMudancasNoQ.Properties.Settings>
    </userSettings>
</configuration>